@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --max-width: 1170px;
  --clr-violet: #d32ec3;
  --clr-font: #a49ba3;
  --clr-light-violet: #f0e7ee;
  --clr-dark-violet: #594355;
}
body {
  font-family: "Roboto", "sans-serif";
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.nav-center {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 90vw;
}
body {
  color: var(--clr-font);
}

/* global classes */
.btn {
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border: none;
  background-color: var(--clr-dark-violet);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--clr-font);
  cursor: pointer;
}
.section-center {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 90vw;
}
.section {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.underline {
  background-color: var(--clr-violet);
  height: 3px;
  width: 100px;
  margin: 0 auto;
  margin-top: 0.5rem;
}
