@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --max-width: 1170px;
  --clr-violet: #d32ec3;
  --clr-font: #a49ba3;
}
body {
  font-family: "Roboto", "sans-serif";
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.nav-center {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 90vw;
}
body {
  color: var(--clr-font);
}
